<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="<%= rootUrl %>/css/util.css">

    <title>Ebiz Airlines</title>
</head>

<body>
<%
const dateTime = DateTime.create(flightInfo.departuretime__c).format('n d, w');
const dtDepartTime = DateTime.create(flightInfo.departuretime__c);
const dtArrivalTime = DateTime.create(flightInfo.arrivaltime__c);
const departTime = dtDepartTime.format('H:M');
const arrivalTime = dtArrivalTime.format('H:M');
const lengthDay = Math.abs(dtDepartTime._now.getDate() - dtArrivalTime._now.getDate());
const lengthHour = Math.abs(dtDepartTime._now.getHours() - dtArrivalTime._now.getHours());
const lengthMin = Math.abs(dtDepartTime._now.getMinutes() - dtArrivalTime._now.getMinutes());
const strLengthTime = lengthDay != 0 ? (lengthDay + 'd') : '' + lengthHour + 'h' + lengthMin + 'm';

const total = flightInfo.economyprice__c;
const taxPercent = 0.1;
const taxFee = Math.round(total * taxPercent);
const basePrice = total - taxFee;
%>
<div class="header">
    <span>Ebiz Airlines</span>
</div>
<div class="depart">
    <span><b>Depart: </b><%= dateTime %></span>
</div>
<div class="flight-info">
    <img src="<%= rootUrl %>/images/logo.png">
    <div class="flight-detail">
        <div class="flight-col">
            <div class="airport-name"><%= flightInfo.route.departure.code__c %></div>
            <div class="time"><%= departTime %></div>
        </div>
        <div class="flight-col deli-center">
            <span>-</span>
        </div>
        <div class="flight-col">
            <div class="airport-name"><%= flightInfo.route.destination.code__c %></div>
            <div class="time"><%= arrivalTime %></div>
        </div>
        <div class="clearfix"></div>
        <div class="extra-info">
            Economy • <%= strLengthTime %>
        </div>
        <div class="clearfix"></div>
        <div class="flight-name">
            <%= flightInfo.name %>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>