<% include ../partials/header.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" method="post">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> Flight ID</th>
                            <th> Flight Number</th>
                            <th> Departure Time</th>
                            <th> Arrival Time</th>
                            <th> Delay Hour</th>
                            <th> Delay Minute</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% flights.forEach(function (flight) { %>
                        <tr>
                            <td><%= flight.sfid %></td>
                            <td><%= flight.name %></td>
                            <td><%= moment(flight.departuretime__c).format('YYYY-MM-DD HH:mm:ss') %></td>
                            <td><%= moment(flight.arrivaltime__c).format('YYYY-MM-DD HH:mm:ss') %></td>
                            <td><input name="flight[<%= flight.sfid %>][delay_hour]" size="2" maxlength="2" type="number" class="form-control" placeholder="Hour" value="0"></td>
                            <td>
                                <input name="flight[<%= flight.sfid %>][delay_minute]" size="2" maxlength="2" type="number" class="form-control" placeholder="Minute" value="0">
                                <input name="flight[<%= flight.sfid %>][sfid]" type="hidden" value="<%= flight.sfid %>">
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-info btn-fill">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>