<% include ../partials/header.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" method="post">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> Flight ID</th>
                            <th> Flight Number</th>
                            <th> Depart Gate</th>
                            <th> Gate Change</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% flights.forEach(function (flight) { %>
                        <tr>
                            <td><%= flight.sfid %></td>
                            <td><%= flight.name %></td>
                            <td><%= flight.departuregate__c %></td>
                            <td>
                                <input name="flight[<%= flight.sfid %>][gate]" type="text" class="form-control" placeholder="Gate Change">
                                <input name="flight[<%= flight.sfid %>][sfid]" type="hidden" value="<%= flight.sfid %>">
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-info btn-fill">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>